.button {
    width: 132px;
    height: 30px;
    border-radius: 3px;
    font-weight: 600;
    line-height: 143%;
    color: #ffffff;
    cursor: pointer;
    transition: all .3s ease;
}


.button:active:before {
    right: 0;
}

.disabled {
    background: #004D99;
    opacity: 0.5;
    color: #ffffff;
}

.secondary {
    color: #0066CC;
    border: 1px solid #0066CC;
    background-color: transparent;
}

.default {
    background: #0066CC;
}

.red {
    background: #CC1439;
}

.default:hover {
    background-color: transparent;
    color: #0066CC;
    border: 1px solid #0066CC;
}

.red:hover {
    background-color: transparent;
    color: #CC1439;
    border: 1px solid #CC1439;
}

.secondary:hover {
    background: #0066CC;
    color: #ffffff;
}

.button:disabled {
    cursor: no-drop;
}
