.input:focus {
}

.input {
    flex: 0 1 372px;
    height: 36px;
    padding: 7px;
    border-radius: 5px;
    outline: none;
}

.inputWrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
}

.superInput {
    border: 1px solid #D1D1D1;
}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {
    border: 2px solid #CC1439;
}

.error {
    color: #CC1439;
}
